[
	{bchat, [
	    {http, [
	        {port, 8096},
	        {dispatch, [{'_', [{'_', bchat_http, []}]}]}
	    ]} 
	]},

	{lager, [
		{handlers, [
			{lager_console_backend, info},
			{lager_file_backend, [{"log/error.log", error}, {"log/console.log", info}, {"log/debug.log", debug}]}
		]}
	 ]
	}

].
